# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
#計算每個不同種類 animal 的 age 的平均數
df.age.mean()

3.4375

In [6]:
#計算每個同種類 animal 的 age 的平均數
for i in set(df['animal']):
    print(f'{i}\'s average age is',df[df['animal']==i]['age'].mean())

cat's average age is 2.5
dog's average age is 5.0
snake's average age is 2.5

In [7]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
print(df.sort_values(by = ['age','visits'], ascending = [True , False]))

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [8]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df.replace(['yes','no'] , ['True','False'])

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [12]:
df = pd.DataFrame(np.random.random(size=(5, 3)),columns=['a','b','c'])
df

          a         b         c
0  0.263550  0.471683  0.078642
1  0.170582  0.607252  0.193081
2  0.560877  0.478896  0.067836
3  0.102782  0.511906  0.117147
4  0.445734  0.016951  0.500827

In [14]:
#一個包含兩個欄位的 DataFrame，將每個數字減去該欄位的平均數
df - df.mean()

          a         b         c
0 -0.045155  0.054346 -0.112864
1 -0.138123  0.189914  0.001575
2  0.252172  0.061558 -0.123671
3 -0.205923  0.094568 -0.074360
4  0.137029 -0.400386  0.309320

In [17]:
#一個包含兩個欄位的 DataFrame，將每個數字減去該筆資料平均數
df.sub(df.mean(axis=1),axis=0)

          a         b         c
0 -0.007742  0.200392 -0.192650
1 -0.153057  0.283614 -0.130557
2  0.191674  0.109693 -0.301367
3 -0.141163  0.267961 -0.126798
4  0.124563 -0.304220  0.179656

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [18]:
df

          a         b         c
0  0.263550  0.471683  0.078642
1  0.170582  0.607252  0.193081
2  0.560877  0.478896  0.067836
3  0.102782  0.511906  0.117147
4  0.445734  0.016951  0.500827

In [20]:
#哪一比的資料總合最小
df.sum(axis=1).idxmin()

3

In [21]:
#哪一欄位的資料總合最小
df.sum(axis=0).idxmin()

'c'